/*#######################
        DIALOG FORM
#######################*/

dialog {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  margin: 0 auto;
  width: 80%;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  background-color: white;
  color: #333;
  font-size: 1rem;
}

label {
  padding: 10px 0;
  text-align: center;
  font-size: var(--secondary-fs);
  font-weight: var(--primary-fw);
}

label:first-child {
  padding-top: 0;
}

.input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-container input {
  max-width: 80%;
  font-size: 1rem;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid;
}

.input-container button {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container button ion-icon {
  font-size: 2rem;
}

.dialog-btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  gap: 20px;
}

.dialog-btn button {
  cursor: pointer;
  padding: 15px 0;
  border-radius: 5px;
  width: 50%;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-weight: var(--primary-fw);
  font-size: var(--tertiary-fs);
}

/*#######################
      HEADER STYLE 
#######################*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.greeting {
  font-size: var(--secondary-fs);
  font-weight: var(--secondary-fw);
}

.user-image-container {
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
}

.user-image {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

/*#######################
      DAY CONTAINER 
#######################*/
.add-exercise {
  position: fixed;
  bottom: calc(10% + 1vh);
  right: 50%;
  transform: translateX(50%);
  z-index: 1000;
}

.show {
  display: block;
}

.add-exercise ion-icon {
  font-size: 5rem;
  color: rgb(78, 238, 78);
}

.day-container {
  padding: 15px;
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  background-color: var(--primary-bg-clr);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.day-container button {
  height: 100%;
}

.next-day-btn,
.prev-day-btn,
.day {
  color: var(--primary-text-clr);
}

.day {
  font-size: 1.3rem;
  letter-spacing: 4px;
  font-weight: var(--primary-fw);
}

/*#######################
    EXERCISE CONTAINER 
#######################*/

.exercise-log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 25px 0;
  padding: 10px;
  width: 100%;
  border-radius: 15px;
  background-color: var(--secondary-bg-clr);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.exercise-log:last-child {
  margin-bottom: 30%;
}

.exercise-log hr {
  margin: 10px 0;
}

.exercise-name {
  text-transform: capitalize;
}

table {
  border-collapse: collapse;
}

th {
  padding: 5px;
}

td {
  flex: 1;
  padding: 3px 0;
}

.delete-icon ion-icon {
  font-size: 2rem;
}

.delete-icon ion-icon:hover {
  color: rgba(255, 19, 19, 0.9);
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

tbody tr:hover {
  cursor: pointer;
}
