*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Teachers', sans-serif;
  background-color: var(--background-color);
  padding: 20px;
}

a,
button,
li,
label,
input {
  display: block;
}

a {
  text-decoration: none;
  color: var(--primary-text-clr);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
  outline: none;
}

ion-icon {
  font-size: 2rem;
}

h2 {
  font-size: var(--primary-fs);
  font-weight: var(--primary-fw);
}

/*#######################
          ROOT
#######################*/
/* COLOR */
:root {
  --content: 'Home';
}
:root {
  --background-color: rgb(236, 242, 243);
  --primary-text-clr: rgb(233, 227, 227);
  --secondary-text-clr: rgb(36, 33, 33);
  --primary-bg-clr: rgb(36, 33, 33);
  --secondary-bg-clr: rgb(252, 245, 245);
}

/* TYPOGRAPHY */
:root {
  --primary-fs: 2rem;
  --secondary-fs: 1.1rem;
  --tertiary-fs: 1rem;
  --primary-fw: 700;
  --secondary-fw: 500;
  --tertiary-fw: 400;
}

/*#######################
        NAV BAR 
#######################*/
nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--secondary-bg-clr);
  border-radius: 10px 10px 0 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .navbar li {
} */

.nav-link {
  color: var(--secondary-text-clr);
}

.nav-link ion-icon {
  padding: 15px;
}

.current-page {
  transform: translateY(-50%);
  background-color: var(--secondary-bg-clr);
  border-radius: 50%;
  border: 5px solid var(--background-color);
  color: rgb(78, 238, 78);
}

.current-page::before {
  position: absolute;
  content: var(--content);
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}
